{% extends "PX500CoreBundle::base.html.twig" %}

{% block content %}
{% for user in users %}
    <h1>{{ user.username }} <a href="{{ path('user', {'username':user.username}) }}">[>]</a></h1>

    {% for photo in user.photos %}
        {% include "PX500CoreBundle:Tiles:photo-min.html.twig" with {'photo':photo} %}
    {% endfor %}
    <div style="clear:both;"></div>
{% endfor %}
{% endblock content %}
