{% extends "PX500CoreBundle::base.html.twig" %}

{% block content %}
{% for user in users %}
    <div class="card-panel">
    <h2>{{ user.name }}</h2><a class="btn" href="{{ path('user', {'username':user.username}) }}">View stats</a>
    <br>
    {% for photo in user.photos|reverse %}
        {% include "PX500CoreBundle:Tiles:photo-min.html.twig" with {'photo':photo} %}
    {% endfor %}
    </div>
{% endfor %}
{% endblock content %}
