{% extends "PX500CoreBundle::base.html.twig" %}


{% block content %}
<h1>{{ user.username }}</h1>

<h2>Statistiques</h2>

<div class="card-panel">
    <div id="chart" style="margin: auto; width: 100%; height: 70%;"></div>
</div>

<h2>Photos</h2>
{% for photo in user.photos %}
{% include "PX500CoreBundle:Tiles:photo-min.html.twig" with {'photo':photo} %}
{% endfor %}
<div style="clear:both;"></div>


<script>
google.setOnLoadCallback(drawChart_rating);
function drawChart_rating() {
    var data = google.visualization.arrayToDataTable([
        ['date', 'affection', 'followers'],
        {% for stat in user.stats %}
        ['{{ stat.date|date('Y-m-d') }}',{{ stat.affection }}, {{ stat.followers }}],
        {% endfor %}
    ]);
    var options = {
        chartArea:{
            //left:70,
            //top:50,
            width:"80%",
            height:"80%"},
        series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
        },
        vAxis:{
            //viewWindow:{min:70},
            type:'number',
            format: '#,###',
            0: {title :''},
            1: {title :''}
        }
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, options);
}
</script>

{% endblock content %}

